.btn-cancel {
    color: rgba(47, 48, 89, 1);
    font-family: CircularStd-Book;
    font-size: 15px;
    font-weight: 400;
    font-style: book;
    letter-spacing: 0.33px;
    width: 66px;
    height: 32px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1),
        0 1px 3px 0 rgba(200, 207, 233, 1);
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.btn-ok {
    width: 66px;
    height: 32px;
    border-radius: 7px;
    background-color: rgba(86, 89, 255, 1);
    box-shadow: 0 0 0 1px rgba(86, 89, 255, 1),
        0 1px 3px 0 rgba(200, 207, 233, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: CircularStd-Book;
    font-size: 15px;
    font-weight: 400;
    font-style: book;
    cursor: pointer;
}