@use "../../../../common" as *;

// Header
.timeline-header {
    padding: 20px $padding-xxl;
}

.logo {
    @include font-circular($font-size-md, 500);
    letter-spacing: 2px;

    .logo-nao {
        color: $primary-shade-2;
        font-weight: 700;
    }

    .logo-logic {
        color: $primary-shade-2;
    }
}

// Title
.timeline-title-section {
    padding: $padding-xl $padding-xxl 0;
}

.timeline-title {
    @include text-h3;
}

// Timescale
.timeline-controls {
    display: flex;
    align-items: center;
    padding: $padding-lg $padding-xxl;
}

.timescale-label {
    width: 75px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    background-color: rgba(241, 243, 248, 0.75);
    color: rgba(104, 113, 150, 1);
    font-family: "CircularStd-Book", "Circular-Std", sans-serif;
    font-size: 13px;
    font-weight: 400;
}


// Timeline Grid
.timeline-grid {
    display: grid;
    grid-template-columns: $work-centers-width 1fr;
    grid-template-rows: $header-height 1fr;
    flex: 1;
    min-height: calc(100vh - 170px);
    overflow-x: scroll;

}

// Work Centers Header
.work-centers-header {
    grid-row: 1;
    grid-column: 1;
    padding: 0 $padding-xl;
    display: flex;
    align-items: center;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $bg-white;
    z-index: 20;
    color: rgba(104, 113, 150, 1);
    font-family: CircularStd-Regular;
    font-size: 14px;
    font-weight: 500;
}

// Work Centers List
.wc-list {
    grid-row: 2;
    grid-column: 1;
    border-right: 1px solid $border-color;
    background-color: $bg-white;
    overflow-y: auto;
    z-index: 10;
}

.wc-row {
    @include row-base;
    padding: 0 $padding-xl;
    border-bottom: 1px solid $border-color;
    @include row-hover;
    font-size: 14px;
    font-weight: 500;
}

.wc-row.selected {
    background-color: rgb(238, 240, 255) !important;
    // border-left: 3px solid #6366f1;
    // background-color: rgba(255, 255, 255, 1);
}

.work-center-name {
    @include text-primary;
    @include text-ellipsis;
}

// Timeline Header
.timeline-header-row {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    border-bottom: 1px solid $border-color;

    background-color: $bg-white;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 15;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.timeline-content {
    grid-row: 2;
    grid-column: 2;
    overflow: auto;
    position: relative;
}

.timeline-inner {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    overflow: hidden;
  }

.timeline-column-header {
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $padding-xs;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    font-family: CircularStd-Regular;
    font-size: 14px;
    font-weight: 500;
}

.current-period-badge {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    height: 18px;
    display: flex;
    align-items: center;
    padding: 0 $padding-xs;
    border-radius: 5px;
    background-color: rgba(212, 215, 255, 1);
    color: rgba(62, 64, 219, 1);
    font-family: "CircularStd-Book", "Circular-Std", sans-serif;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    z-index: 10;
}

.column-label {
    @include text-label;
    white-space: nowrap;
}

.timeline-rows {
    flex: 1;
    min-height: 100%;
    background-color: rgba(247, 249, 252, 1);
}

.timeline-row {
    @include row-base;
    overflow: visible;
    @include row-hover;
}

.timeline-row.selected {
    background-color: rgb(238, 240, 255) !important;

}

.timeline-row-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    cursor: pointer;
    overflow: visible;
}

.column-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $border-color;
    pointer-events: none;
    z-index: 1;

    &.current-month-divider {
        width: 3px;
        background-color: rgba(212, 215, 255, 1);
        z-index: 2;
    }
}

.hover-placeholder {
    position: absolute;
    top: $padding-sm;
    height: 38px;
    background-color: rgba(101, 112, 255, 0.1);
    border: 1px solid rgba(195, 199, 255, 1);
    border-radius: 8px;
    pointer-events: none;
}

.click-tooltip { 
    position: fixed;
    margin-left: -60px;
    margin-top: -20px;
    background-color: rgba(104, 113, 150, 1);
    color: rgba(249, 250, 255, 1);
    padding: 3px 6px;
    border-radius: 8px;
    font-family: "CircularStd-Book", "Circular-Std", sans-serif;
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    z-index: $z-index-tooltip;
    white-space: nowrap;
    box-shadow: 0 2px 4px -2px rgba(200, 207, 233, 1),
        0 0 16px -8px rgba(230, 235, 240, 1);

}

@media (max-width: 768px) {
    .timeline-grid {
        grid-template-columns: $work-centers-width-mobile 1fr;
    }

    .timeline-title-section {
        flex-direction: column;
        align-items: flex-start;
        gap: $padding-lg;
    }

    .timeline-controls {
        width: 100%;
    }
}