
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  padding-left: 100px;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 45px;
}

.header {
  position: relative;
  height: 50px;
  background-color: rgba(255, 255, 255, 1);
}

.logo {
  position: absolute;
  top: 20px;
  width: 100px;
  height: 10px;
  display: block;
  object-fit: contain;
}