
.drawer {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px 0 rgba(216, 220, 235, 1);
  z-index: 1000;
  transition: 0.5s;
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 900;
}

.right {
  top: 0;
  right: 0;
}

.expand {
  width: 600px;
  border-radius: 12px 0px 0px 12px;
}

